Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, ts build, ts lint, rustfmt, cargo check, clippy

.pre-commit-config.yaml:

# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [typescript_gen_types, golang lint, gofmt, ts build, ts lint, rustfmt, clippy, cargo check]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args:
          ["-s=only", -l, "Apache-2.0", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: local
    hooks: 
      - id: typescript_gen_types
        name: Generate Typescript Types from go 
        entry: tygo generate 
        language: system
        types: [go]
        pass_filenames: false

      - id: gofmt
        name: Format go code
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false # go fmt handles files itself


      - id: golang lint
        name: Lint go code
        entry: make lint 
        language: system
        types: [go]
        pass_filenames: false # lint handles files itself

      - id: ts build
        name: Ensure no frontend build errors
        entry: bash -c "cd crawl-status-page && npm run build"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself


      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo fmt --all -- "
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt handles files itself

      - id: cargo check 
        name: cargo check
        # check everything compiles
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo check --examples --locked --all-features --tests --benches  --bins  --workspace"
        language: system
        types: [rust]
        pass_filenames: false  # cargo check handles files itself

      - id: clippy
        name: clippy
        # lint the entire project with warnings
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo clippy --benches --examples --tests --no-deps --no-default-features -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy handles files itself

Push latest version of triples to geoparquet with error handling code
  .gitignore
  triples_to_geoparquet/.gitignore
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

add a readme
  triples_to_geoparquet/README.md
Due: none

Use large offsets for geometry column
  .gitignore
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

Use large offsets for geometry column (#361)
  .gitignore
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

Remove schema geo and use the proper large offste logic
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Remove schema geo and use the proper large offset logic (#362)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Add mainstem associations to geoparquet export
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Add mainstem associations to geoparquet export (#364)
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Cleanup previous bulk crawls before doing a new one
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/storage_test.go
Due: typescript_gen_types, gofmt, golang lint

switch to quay minio
  examples/Docker-compose.yml
  internal/synchronizer/s3/mock_helpers.go
Due: typescript_gen_types, gofmt, golang lint

fix tests
  internal/crawl/storage/storage_test.go
  internal/crawl/storage/tempfs_storage.go
Due: typescript_gen_types, gofmt, golang lint

Cleanup previous bulk crawls before doing a new one (#365)
  examples/Docker-compose.yml
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/storage_test.go
  internal/crawl/storage/tempfs_storage.go
  internal/synchronizer/s3/mock_helpers.go
Due: typescript_gen_types, gofmt, golang lint

Speed up bulk crawler further
  examples/Docker-compose.yml
  internal/crawl/shacl.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/storage/discard_storage.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/tempfs_storage.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
  internal/synchronizer/s3/mock_helpers.go
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/context_cache.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
  shacl_validator/shacl_validator_grpc_py/src/lib_test.py
  shacl_validator/shacl_validator_grpc_py/src/server.py
Due: typescript_gen_types, gofmt, golang lint

Speed up bulk crawler further (#367)
  examples/Docker-compose.yml
  internal/crawl/shacl.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/storage/discard_storage.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/tempfs_storage.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
  internal/synchronizer/s3/mock_helpers.go
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/context_cache.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
  shacl_validator/shacl_validator_grpc_py/src/lib_test.py
  shacl_validator/shacl_validator_grpc_py/src/server.py
Due: typescript_gen_types, gofmt, golang lint

Remove the mutex for mainstem association
  go.mod
  go.sum
  internal/mainstems/flatgeobuf.go
  internal/mainstems/flatgeobuf_test.go
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Remove the mutex for mainstem association (#368)
  go.mod
  go.sum
  internal/mainstems/flatgeobuf.go
  internal/mainstems/flatgeobuf_test.go
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Remove crawl status page that is no longer being used
  crawl-status-page/.env.development
  crawl-status-page/README.md
  crawl-status-page/eslint.config.js
  crawl-status-page/index.html
  crawl-status-page/package-lock.json
  crawl-status-page/package.json
  crawl-status-page/public/favicon.ico
  crawl-status-page/src/CrawlFailureTable.tsx
  crawl-status-page/src/CrawlStatusDashboard.module.css
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/CrawlWarningTable.tsx
  crawl-status-page/src/Header.tsx
  crawl-status-page/src/SitemapIndexInfo.tsx
  crawl-status-page/src/assets/geoconnex-logo.png
  crawl-status-page/src/assets/react.svg
  crawl-status-page/src/env.ts
  crawl-status-page/src/generated_types.ts
  crawl-status-page/src/lib.ts
  crawl-status-page/src/main.tsx
  crawl-status-page/src/types.ts
  crawl-status-page/src/vite-env.d.ts
  crawl-status-page/src/vocab.json
  crawl-status-page/tsconfig.app.json
  crawl-status-page/tsconfig.json
  crawl-status-page/tsconfig.node.json
  crawl-status-page/vite.config.ts
  tygo.yaml
Due: ts build, ts lint

remove workflow
  .github/workflows/frontend.yml
Due: none

Remove crawl status page that is no longer being used (#369)
  .github/workflows/frontend.yml
  crawl-status-page/.env.development
  crawl-status-page/README.md
  crawl-status-page/eslint.config.js
  crawl-status-page/index.html
  crawl-status-page/package-lock.json
  crawl-status-page/package.json
  crawl-status-page/public/favicon.ico
  crawl-status-page/src/CrawlFailureTable.tsx
  crawl-status-page/src/CrawlStatusDashboard.module.css
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/CrawlWarningTable.tsx
  crawl-status-page/src/Header.tsx
  crawl-status-page/src/SitemapIndexInfo.tsx
  crawl-status-page/src/assets/geoconnex-logo.png
  crawl-status-page/src/assets/react.svg
  crawl-status-page/src/env.ts
  crawl-status-page/src/generated_types.ts
  crawl-status-page/src/lib.ts
  crawl-status-page/src/main.tsx
  crawl-status-page/src/types.ts
  crawl-status-page/src/vite-env.d.ts
  crawl-status-page/src/vocab.json
  crawl-status-page/tsconfig.app.json
  crawl-status-page/tsconfig.json
  crawl-status-page/tsconfig.node.json
  crawl-status-page/vite.config.ts
  tygo.yaml
Due: ts build, ts lint

Change worker total for triples to geoparquet
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Change worker total for triples to geoparquet (#370)
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Add devkit to nabu
  dev-kit/spec.yaml
  makefile
Due: none

Add devkit to nabu (#371)
  dev-kit/spec.yaml
  makefile
Due: none

Remove Rust based SHACL validator which is unused
  shacl_validator/Dockerfile_rs
  shacl_validator/shacl_validator_client_ts/Shacl_validatorServiceClientPb.ts
  shacl_validator/shacl_validator_client_ts/readme.md
  shacl_validator/shacl_validator_client_ts/shacl_validator_pb.d.ts
  shacl_validator/shacl_validator_client_ts/shacl_validator_pb.js
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/build.rs
  shacl_validator/shacl_validator_grpc_rs/readme.md
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/src/main.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/makefile
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/test.html
Due: ts build, ts lint, rustfmt, cargo check, clippy

tweak makefile
  shacl_validator/makefile
Due: none

remove workflow
  .github/workflows/cargo_test.yml
Due: none

tweak makefile more
  makefile
Due: none

Remove Rust based SHACL validator which is unused (#372)
  .github/workflows/cargo_test.yml
  makefile
  shacl_validator/Dockerfile_rs
  shacl_validator/makefile
  shacl_validator/shacl_validator_client_ts/Shacl_validatorServiceClientPb.ts
  shacl_validator/shacl_validator_client_ts/readme.md
  shacl_validator/shacl_validator_client_ts/shacl_validator_pb.d.ts
  shacl_validator/shacl_validator_client_ts/shacl_validator_pb.js
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/build.rs
  shacl_validator/shacl_validator_grpc_rs/readme.md
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/src/main.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/makefile
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/test.html
Due: ts build, ts lint, rustfmt, cargo check, clippy

Remove rust based shacl rs push
  .github/workflows/push_to_dockerhub.yml
Due: none

Remove rust based shacl rs push (#373)
  .github/workflows/push_to_dockerhub.yml
Due: none

shacl go server
  .pre-commit-config.yaml
  cmd/nabu/main.go
  cmd/nabu/main_test.go
  cmd/nabu/shacl_validate.go
  shacl_validator/shacl_validator_go/server.go
  shacl_validator/shacl_validator_go/server_test.go
  shacl_validator/shacl_validator_go/shacl.go
Due: typescript_gen_types, gofmt, golang lint

shacl go server (#374)
  .pre-commit-config.yaml
  cmd/nabu/main.go
  cmd/nabu/main_test.go
  cmd/nabu/shacl_validate.go
  shacl_validator/shacl_validator_go/server.go
  shacl_validator/shacl_validator_go/server_test.go
  shacl_validator/shacl_validator_go/shacl.go
Due: typescript_gen_types, gofmt, golang lint

Local shacl validation support
  .github/workflows/go_lint.yml
  .github/workflows/google_s3_ping.yml
  Dockerfile
  action.yml
  cmd/nabu/harvest.go
  cmd/nabu/harvest_test.go
  docs/nabu_overview.md
  go.mod
  go.sum
  internal/crawl/shacl.go
  internal/crawl/shacl_test.go
  internal/crawl/site.go
  internal/crawl/site_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_config.go
  internal/crawl/sitemap_test.go
  shacl_validator/contexts/contexts.go
  shacl_validator/contexts/schemaorg_context.jsonld
  shacl_validator/shacl_validator_go/loader.go
  shacl_validator/shacl_validator_go/loader_test.go
  shacl_validator/shacl_validator_go/shacl.go
  terraform/main.tf
Due: typescript_gen_types, gofmt, golang lint

Local shacl validation support (#375)
  .github/workflows/go_lint.yml
  .github/workflows/google_s3_ping.yml
  Dockerfile
  action.yml
  cmd/nabu/harvest.go
  cmd/nabu/harvest_test.go
  docs/nabu_overview.md
  go.mod
  go.sum
  internal/crawl/shacl.go
  internal/crawl/shacl_test.go
  internal/crawl/site.go
  internal/crawl/site_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_config.go
  internal/crawl/sitemap_test.go
  shacl_validator/contexts/contexts.go
  shacl_validator/contexts/schemaorg_context.jsonld
  shacl_validator/shacl_validator_go/loader.go
  shacl_validator/shacl_validator_go/loader_test.go
  shacl_validator/shacl_validator_go/shacl.go
  terraform/main.tf
Due: typescript_gen_types, gofmt, golang lint

Add cgr.dev and opengeospatial.github.io to the spec.yaml
  dev-kit/spec.yaml
Due: none

Add cgr.dev and opengeospatial.github.io to the spec.yaml (#376)
  dev-kit/spec.yaml
Due: none

Bump gordflib version
  go.mod
  go.sum
  internal/common/jsonld.go
  internal/common/urn_test.go
  shacl_validator/shacl_validator_go/loader.go
  shacl_validator/shacl_validator_go/loader_test.go
  shacl_validator/shacl_validator_go/shacl.go
  shacl_validator/shacl_validator_go/shacl_test.go
Due: typescript_gen_types, gofmt, golang lint

Fix loader type assertion in TestCreateNewProcessor
  internal/common/jsonld_test.go
Due: typescript_gen_types, gofmt, golang lint

Bump gordflib version (#379)
  go.mod
  go.sum
  internal/common/jsonld.go
  internal/common/jsonld_test.go
  internal/common/urn_test.go
  shacl_validator/shacl_validator_go/loader.go
  shacl_validator/shacl_validator_go/loader_test.go
  shacl_validator/shacl_validator_go/shacl.go
  shacl_validator/shacl_validator_go/shacl_test.go
Due: typescript_gen_types, gofmt, golang lint

Remove terraform
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
  terraform/variables.tf
Due: none
