Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, npm run build, npm run lint

typescript_gen_types:
  name: Generate Typescript Types from go
  entry: tygo generate
  language: system
  pass_filenames: false

gofmt:
  name: Format go code
  entry: go fmt ./...
  language: system
  pass_filenames: false

golang lint:
  name: Lint go code
  entry: make lint
  language: system
  pass_filenames: false

npm run build:
  name: Ensure no frontend build errors
  entry: bash -c "cd crawl-status-page && npm run build"
  language: system
  pass_filenames: false

npm run lint:
  name: Ensure no frontend lint errors
  entry: bash -c "cd crawl-status-page && npm run lint"
  language: system
  pass_filenames: false

Lint fixes and precommit integration (#237)
  .pre-commit-config.yaml
  crawl-status-page/eslint.config.js
Due: npm run build, npm run lint

skip in ci
  .pre-commit-config.yaml
Due: none

better log
  internal/crawl/sitemap.go
Due: typescript_gen_types, gofmt, golang lint

Redo hash / cache implementation for crawling (#232)
  .pre-commit-config.yaml
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/harvest_test.go
  cmd/nabu/test.go
  cmd/nabu/testdata/geoconnex_robots.txt
  crawl-status-page/eslint.config.js
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/generated_types.ts
  internal/common/http_client.go
  internal/crawl/hash_checks/hash_check.go
  internal/crawl/helpers.go
  internal/crawl/helpers_test.go
  internal/crawl/site.go
  internal/crawl/site_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/sitemap_test.go
  internal/crawl/storage/discard_storage.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/storage_test.go
  internal/crawl/storage/tempfs_storage.go
  internal/crawl/testdata/geoconnex_robots.txt
  internal/crawl/testdata/google_robots.txt
  internal/crawl/testdata/reference_feature_2.jsonld
  internal/crawl/testdata/reference_feature_3.jsonld
  internal/crawl/testdata/usgs_robots.txt
  internal/crawl/url_info/url.go
  internal/synchronizer/helpers.go
  internal/synchronizer/s3/buffer_helpers_test.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
  internal/synchronizer/s3/helpers.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, npm run build, npm run lint

backup
  cmd/nabu/harvest.go
Due: typescript_gen_types, gofmt, golang lint

Make cleanup a blocking operation
  internal/crawl/sitemap.go
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint

Make cleanup a blocking operation (#238)
  internal/crawl/sitemap.go
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint

add parallelism
  internal/crawl/storage/storage.go
Due: typescript_gen_types, gofmt, golang lint

Make cleanup blocking (#239)
  internal/crawl/storage/storage.go
Due: typescript_gen_types, gofmt, golang lint

Retry on DeadlineExceeded
  internal/common/http_client.go
Due: typescript_gen_types, gofmt, golang lint

bump out timeout
  internal/common/http_client.go
Due: typescript_gen_types, gofmt, golang lint

Retry on DeadlineExceeded (#240)
  internal/common/http_client.go
Due: typescript_gen_types, gofmt, golang lint

Raise error on empty triple
  internal/common/rdfConversions.go
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Raise error on empty prefix (#241)
  internal/common/rdfConversions.go
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Catch timeout error properly
  internal/common/http_client.go
Due: typescript_gen_types, gofmt, golang lint

Catch timeout error properly (#242)
  internal/common/http_client.go
Due: typescript_gen_types, gofmt, golang lint

Add name filter to pull
  cmd/nabu/main.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

move log to be in proper position
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

add another test case
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add name filter to pull (#243)
  cmd/nabu/main.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add more logging to errors
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Wrap errors better (#245)
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Add more context to type of error
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Add more context to type of error (#246)
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Fix sitemap parse nil pointer deref
  internal/crawl/url_info/url.go
Due: typescript_gen_types, gofmt, golang lint

add a comment
  internal/crawl/url_info/url.go
Due: typescript_gen_types, gofmt, golang lint

Fix sitemap parse nil pointer deref (#247)
  internal/crawl/url_info/url.go
Due: typescript_gen_types, gofmt, golang lint

Handle ctx deadline exceeded error
  internal/common/http_client.go
  internal/common/http_client_test.go
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

add another test
  internal/common/http_client_test.go
Due: typescript_gen_types, gofmt, golang lint

Handle ctx deadline exceeded error (#248)
  internal/common/http_client.go
  internal/common/http_client_test.go
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

backup
  crawl-status-page/package-lock.json
  crawl-status-page/package.json
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/types.ts
Due: npm run build, npm run lint

Better warnings when pulling
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

Better warnings when pulling (#251)
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

improved
  crawl-status-page/.env.development
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/types.ts
Due: npm run build, npm run lint

Paginated crawl status dashboard (#252)
  crawl-status-page/.env.development
  crawl-status-page/package-lock.json
  crawl-status-page/package.json
  crawl-status-page/src/CrawlStatusDashboard.tsx
  crawl-status-page/src/types.ts
Due: npm run build, npm run lint

Remove old references to gleaner
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/harvest_test.go
  internal/common/rdfConversions_test.go
  internal/synchronizer/client_test.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Remove old references to gleaner (#253)
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/harvest_test.go
  internal/common/rdfConversions_test.go
  internal/synchronizer/client_test.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Web assembly shacl validation support
  .pre-commit-config.yaml
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/index.html
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/makefile
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

backup
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/makefile
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/test.html
Due: none

Web assembly shacl validation support (#254)
  .pre-commit-config.yaml
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/makefile
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/test.html
Due: none

Path conditions:
  typescript_gen_types: any of: \.go$
  gofmt: any of: \.go$
  golang lint: any of: \.go$
  npm run build: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  npm run lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
