Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, ts build, ts lint, rustfmt, cargo check, clippy

.pre-commit-config.yaml:

# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [typescript_gen_types, golang lint, gofmt, ts build, ts lint, rustfmt, clippy, cargo check]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args:
          ["-s=only", -l, "Apache-2.0", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: local
    hooks: 
      - id: typescript_gen_types
        name: Generate Typescript Types from go 
        entry: tygo generate 
        language: system
        types: [go]
        pass_filenames: false

      - id: gofmt
        name: Format go code
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false # go fmt handles files itself


      - id: golang lint
        name: Lint go code
        entry: make lint 
        language: system
        types: [go]
        pass_filenames: false # lint handles files itself

      - id: ts build
        name: Ensure no frontend build errors
        entry: bash -c "cd crawl-status-page && npm run build"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself


      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo fmt --all -- "
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt handles files itself

      - id: cargo check 
        name: cargo check
        # check everything compiles
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo check --examples --locked --all-features --tests --benches  --bins  --workspace"
        language: system
        types: [rust]
        pass_filenames: false  # cargo check handles files itself

      - id: clippy
        name: clippy
        # lint the entire project with warnings
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo clippy --benches --examples --tests --no-deps --no-default-features -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy handles files itself

Add extra debug log for object list
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

wait for debugger properly
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

make sure wait for debugger is exported properly
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Add debug info on object list (#304)
  cmd/nabu/main.go
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

bulk working
  cmd/nabu/main.go
  go.mod
  go.sum
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/testdata/bulk_sitemap/Dockerfile
  internal/crawl/testdata/bulk_sitemap/sitemap.xml
Due: typescript_gen_types, gofmt, golang lint

Bulk sitemap support for nabu
  internal/crawl/site_test.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/testdata/bulk_sitemap/sitemap.xml
  makefile
  shacl_validator/shacl_validator_grpc_rs/src/main.rs
Due: typescript_gen_types, gofmt, golang lint, rustfmt, cargo check, clippy

try to negotiate api version
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

backup
  internal/crawl/shacl_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/testdata/bulk_sitemap/sitemap.xml
Due: typescript_gen_types, gofmt, golang lint

better docker build process
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/testdata/bulk_sitemap/Dockerfile
  internal/crawl/testdata/bulk_sitemap/data.txt
Due: typescript_gen_types, gofmt, golang lint

Add bulk sitemap support
  internal/crawl/shacl.go
  internal/crawl/shacl_test.go
  internal/crawl/site_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/sitemap_test.go
  internal/crawl/testdata/bulk_sitemap/data.txt
  internal/crawl/testdata/bulk_sitemap/sitemap.xml
Due: typescript_gen_types, gofmt, golang lint

add a comment
  internal/crawl/testdata/bulk_sitemap/Dockerfile
Due: none

skip creating client on ""
  internal/crawl/shacl.go
Due: typescript_gen_types, gofmt, golang lint

add another test
  internal/crawl/shacl_test.go
Due: typescript_gen_types, gofmt, golang lint

Bulk sitemap support for nabu (#305)
  internal/crawl/shacl.go
  internal/crawl/shacl_test.go
  internal/crawl/site_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/sitemap_test.go
  internal/crawl/testdata/bulk_sitemap/Dockerfile
  internal/crawl/testdata/bulk_sitemap/data.txt
  internal/crawl/testdata/bulk_sitemap/sitemap.xml
  makefile
  shacl_validator/shacl_validator_grpc_rs/src/main.rs
Due: typescript_gen_types, gofmt, golang lint, rustfmt, cargo check, clippy

Fix debug sleep behavior
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Fix debug sleep behavior (#306)
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Add a dockerfile for triples to parquet
  .github/workflows/push_to_dockerhub.yml
  triples_to_geoparquet/.dockerignore
  triples_to_geoparquet/Dockerfile
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/testdata/wwdh_usace_usace_access_to_water__0_release.nq.gz
Due: rustfmt, cargo check, clippy

Add a dockerfile for triples to parquet and support full directories (#307)
  .github/workflows/push_to_dockerhub.yml
  triples_to_geoparquet/.dockerignore
  triples_to_geoparquet/Dockerfile
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/testdata/wwdh_usace_usace_access_to_water__0_release.nq.gz
Due: rustfmt, cargo check, clippy

Log level for triples to geoparquet
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Configurable log level for triples to geoparquet (#308)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

cache dockerfile better
  triples_to_geoparquet/Dockerfile
Due: none

tweak entrypoint
  triples_to_geoparquet/Dockerfile
Due: none

backup
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

backup with more tests
  triples_to_geoparquet/src/lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

rearrange tests
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/testdata/missing_schema_geo.nq
  triples_to_geoparquet/src/tests.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

add some more tests
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Better error handling and logging for triples to geoparquet (#310)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/testdata/missing_schema_geo.nq
  triples_to_geoparquet/src/tests.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Check for empty geometry
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Better progress logging
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

add geoconnex sitemap
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

fix tests
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Better progress logging and metadata in geoparquet (#311)
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

Update mainstem lookup to v3
  shacl_validator/data/join.py
Due: none

respond to dave's feedback
  shacl_validator/data/.env.example
  shacl_validator/data/join.py
  shacl_validator/data/makefile
Due: none
