Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, npm run build, npm run lint

typescript_gen_types:
  name: Generate Typescript Types from go
  entry: tygo generate
  language: system
  pass_filenames: false

gofmt:
  name: Format go code
  entry: go fmt ./...
  language: system
  pass_filenames: false

golang lint:
  name: Lint go code
  entry: make lint
  language: system
  pass_filenames: false

npm run build:
  name: Ensure no frontend build errors
  entry: bash -c "cd crawl-status-page && npm run build"
  language: system
  pass_filenames: false

npm run lint:
  name: Ensure no frontend lint errors
  entry: bash -c "cd crawl-status-page && npm run lint"
  language: system
  pass_filenames: false

Safer memory in wasm
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

fix clippy
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

Safer memory in wasm (#256)
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

Rename shacl shape
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/lib_test.py
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shapes/geoconnex.ttl
Due: none

Rename shacl shape (#258)
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/lib_test.py
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
  shacl_validator/shapes/geoconnex.ttl
Due: none

Bump Rust Dependencies
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

bump more deps
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

Bump more dependnecies
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
Due: none

bump more deps
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
Due: none

more cleanups
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

Bump rust dependencies (#260)
  shacl_validator/shacl_validator_grpc_rs/Cargo.lock
  shacl_validator/shacl_validator_grpc_rs/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/src/lib.rs
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/Cargo.toml
  shacl_validator/shacl_validator_grpc_rs/wasm_exportable_lib/src/lib.rs
Due: none

backup
  internal/mainstems/service.go
  internal/mainstems/testdata/catchmentForRise1.json
  internal/mainstems/testdata/catchmentForRise324.json
  internal/mainstems/testdata/flowlinesForRISE1.json
  internal/mainstems/testdata/flowlinesForRise324.json
  internal/mainstems/testdata/geoconnexURIForRise1.json
  internal/mainstems/testdata/geoconnexURIForRise324.json
  internal/mainstems/usgs.go
  internal/mainstems/usgs_test.go
Due: typescript_gen_types, gofmt, golang lint

backup
  internal/common/http_client.go
  internal/common/jsonld.go
  internal/common/jsonld_test.go
  internal/common/testdata/mainstem1.jsonld
  internal/mainstems/usgs.go
Due: typescript_gen_types, gofmt, golang lint

add more tests
  internal/common/jsonld_test.go
Due: typescript_gen_types, gofmt, golang lint

backup
  go.mod
  go.sum
  internal/common/jsonld.go
  internal/common/jsonld_test.go
  internal/common/testdata/conformant_jsonld/containing_catchment.jsonld
  internal/common/testdata/conformant_jsonld/full_docs_location_example.jsonld
  internal/common/testdata/conformant_jsonld/huc10_items_0101000201.jsonld
  internal/common/testdata/conformant_jsonld/mainstems_1.jsonld
  internal/common/testdata/conformant_jsonld/ref_dam.jsonld
  internal/common/testdata/conformant_jsonld/rise.jsonld
  internal/common/testdata/conformant_jsonld/usace_edr.jsonld
  internal/crawl/storage/storage.go
  internal/mainstems/service.go
  internal/mainstems/usgs.go
  internal/mainstems/usgs_test.go
Due: typescript_gen_types, gofmt, golang lint

Add infrastructure as code for shacl service deployment
  .gitignore
  .pre-commit-config.yaml
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
Due: none

make local
  .pre-commit-config.yaml
Due: none

Add extra http endpoint to python shacl validation server
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/server.py
  shacl_validator/shacl_validator_grpc_py/server_test.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
Due: none

remove fastapi and use starlette
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/server.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
Due: none

better logging
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/server.py
  shacl_validator/shacl_validator_grpc_py/server_test.py
Due: none

remove duplicate in toml
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
Due: none

add a function to retrieve the shacl shape inside of the runtime
  shacl_validator/shacl_validator_grpc_py/server.py
Due: none

deploy the shacl server
  .gitignore
  terraform/main.tf
Due: none

make it public
  terraform/main.tf
Due: none

make region and variables separate
  terraform/main.tf
  terraform/variables.tf
Due: none

Add http to shacl validation (#263)
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/server.py
  shacl_validator/shacl_validator_grpc_py/server_test.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
Due: none

Add infrastructure as code for shacl service deployment (#262)
  .gitignore
  .pre-commit-config.yaml
  shacl_validator/shacl_validator_grpc_py/cli.py
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/server.py
  shacl_validator/shacl_validator_grpc_py/server_test.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/readme.md
  terraform/variables.tf
Due: none

Bring in mainstem service to python server
  .gitignore
  internal/protoBuild/shacl_validator.pb.go
  internal/protoBuild/shacl_validator_grpc.pb.go
  makefile
  shacl_validator/Dockerfile_py
  shacl_validator/data/makefile
  shacl_validator/makefile
  shacl_validator/shacl_validator_client_ts/Shacl_validatorServiceClientPb.ts
  shacl_validator/shacl_validator_grpc_py/Dockerfile
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
  shacl_validator/shacl_validator_grpc_py/src/lib_test.py
  shacl_validator/shacl_validator_grpc_py/src/mainstems.py
  shacl_validator/shacl_validator_grpc_py/src/server.py
  shacl_validator/shacl_validator_grpc_py/src/server_test.py
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2.py
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2.pyi
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2_grpc.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
Due: typescript_gen_types, gofmt, golang lint, npm run build, npm run lint

Bring in mainstem service to python server (#268)
  .gitignore
  internal/protoBuild/shacl_validator.pb.go
  internal/protoBuild/shacl_validator_grpc.pb.go
  makefile
  shacl_validator/Dockerfile_py
  shacl_validator/data/makefile
  shacl_validator/makefile
  shacl_validator/shacl_validator_client_ts/Shacl_validatorServiceClientPb.ts
  shacl_validator/shacl_validator_grpc_py/Dockerfile
  shacl_validator/shacl_validator_grpc_py/pyproject.toml
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
  shacl_validator/shacl_validator_grpc_py/src/lib_test.py
  shacl_validator/shacl_validator_grpc_py/src/mainstems.py
  shacl_validator/shacl_validator_grpc_py/src/server.py
  shacl_validator/shacl_validator_grpc_py/src/server_test.py
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2.py
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2.pyi
  shacl_validator/shacl_validator_grpc_py/src/shacl_validator_pb2_grpc.py
  shacl_validator/shacl_validator_grpc_py/uv.lock
Due: typescript_gen_types, gofmt, golang lint, npm run build, npm run lint

backup
  .gitignore
  shacl_validator/data/join.py
  shacl_validator/data/makefile
  shacl_validator/shacl_validator_grpc_py/src/mainstems.py
Due: none

working
  shacl_validator/shacl_validator_grpc_py/src/mainstems.py
Due: none

Optimize spatial formats for the mainstem query resolver (#269)
  .gitignore
  shacl_validator/data/join.py
  shacl_validator/data/makefile
  shacl_validator/shacl_validator_grpc_py/src/mainstems.py
Due: none

cors
  shacl_validator/data/cors.json
  shacl_validator/data/join.py
  shacl_validator/data/makefile
Due: none

Fix makefile
  shacl_validator/data/makefile
Due: none

Add cors.json and update makefile (#270)
  shacl_validator/data/cors.json
  shacl_validator/data/join.py
  shacl_validator/data/makefile
Due: none

Triples to parquet cli
  .gitignore
  .vscode/settings.json
  internal/common/urn.go
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/ref_gages_gages__0_release.nq
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/test.rs
Due: typescript_gen_types, gofmt, golang lint

Triples to geoparquet parquet cli (#272)
  .gitignore
  .vscode/settings.json
  internal/common/urn.go
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/ref_gages_gages__0_release.nq
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/test.rs
Due: typescript_gen_types, gofmt, golang lint

Remove unused imports
  triples_to_geoparquet/src/main.rs
Due: none

Remove unused rust imports (#273)
  triples_to_geoparquet/src/main.rs
Due: none

backup
  internal/mainstems/usgs.go
Due: typescript_gen_types, gofmt, golang lint

Path conditions:
  typescript_gen_types: any of: \.go$
  gofmt: any of: \.go$
  golang lint: any of: \.go$
  npm run build: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  npm run lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
