Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, ts build, ts lint, rustfmt, cargo check, clippy

.pre-commit-config.yaml:

# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [typescript_gen_types, golang lint, gofmt, ts build, ts lint, rustfmt, clippy, cargo check]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args:
          ["-s=only", -l, "Apache-2.0", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: local
    hooks: 
      - id: typescript_gen_types
        name: Generate Typescript Types from go 
        entry: tygo generate 
        language: system
        types: [go]
        pass_filenames: false

      - id: gofmt
        name: Format go code
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false # go fmt handles files itself


      - id: golang lint
        name: Lint go code
        entry: make lint 
        language: system
        types: [go]
        pass_filenames: false # lint handles files itself

      - id: ts build
        name: Ensure no frontend build errors
        entry: bash -c "cd crawl-status-page && npm run build"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself


      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo fmt --all -- "
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt handles files itself

      - id: cargo check 
        name: cargo check
        # check everything compiles
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo check --examples --locked --all-features --tests --benches  --bins  --workspace"
        language: system
        types: [rust]
        pass_filenames: false  # cargo check handles files itself

      - id: clippy
        name: clippy
        # lint the entire project with warnings
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo clippy --benches --examples --tests --no-deps --no-default-features -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy handles files itself

Add test for @type with space in it; fix associated rdf conversion function names
  internal/common/jsonld.go
  internal/common/jsonld_test.go
  internal/common/rdfConversions.go
  internal/common/rdfConversions_test.go
  internal/common/testdata/jsonld_with_space_in_type.jsonld
  internal/common/urn_test.go
  internal/crawl/helpers_test.go
  internal/crawl/orgs.go
  internal/crawl/orgs_test.go
  internal/crawl/prov.go
  internal/crawl/sitemap_index.go
  internal/synchronizer/client_release_graphs.go
  shacl_validator/testdata/valid/type_with_space.jsonld
Due: typescript_gen_types, gofmt, golang lint

Add test for @type with space in it; fix associated rdf conversion function names (#328)
  internal/common/jsonld.go
  internal/common/jsonld_test.go
  internal/common/rdfConversions.go
  internal/common/rdfConversions_test.go
  internal/common/testdata/jsonld_with_space_in_type.jsonld
  internal/common/urn_test.go
  internal/crawl/helpers_test.go
  internal/crawl/orgs.go
  internal/crawl/orgs_test.go
  internal/crawl/prov.go
  internal/crawl/sitemap_index.go
  internal/synchronizer/client_release_graphs.go
  shacl_validator/testdata/valid/type_with_space.jsonld
Due: typescript_gen_types, gofmt, golang lint

Bump go version and change RDF library
  .github/workflows/go_lint.yml
  .github/workflows/google_s3_ping.yml
  Dockerfile
  action.yml
  go.mod
  go.sum
  internal/common/jsonld_test.go
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

bump setup go version
  .github/workflows/go_lint.yml
  .github/workflows/google_s3_ping.yml
  action.yml
Due: none

Bump go version and change RDF library to allow non fatal parsing progress (#329)
  .github/workflows/go_lint.yml
  .github/workflows/google_s3_ping.yml
  Dockerfile
  action.yml
  go.mod
  go.sum
  internal/common/jsonld_test.go
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

track if sitemap was down in crawl report
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

track if sitemap was down in crawl report (#330)
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

fix bulk logic
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Tweak logging driver (#324)
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Try bumping bulk up to 300 workers
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

Try bumping bulk up to 300 workers (#331)
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

backup
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_test.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

Upload stats for bulk integrations (#334)
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_test.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

Add stats to bulk upload and improve transport hyperparameters
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add stats for bulk operations; increase transport parameters for minio for more concurrency (#335)
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add schema name and description into parquet
  triples_to_geoparquet/Dockerfile
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

backup
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

add threadpool
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
Due: rustfmt, cargo check, clippy

tweak thread pool count
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

join threadpool
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

add more logs
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Add schema name and description to parquet; use threadpool for reading with a separate writer (#336)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/Dockerfile
  triples_to_geoparquet/src/lib.rs
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Slim down parquet rust features
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
Due: none

remove more features
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

move log into pool exec func
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

limit to 8 threads
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

remove dead code
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Slim down parquet rust features (#337)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

change workers
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Make parquet workers configurable (#338)
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Add new sitemap metadata
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/testdata/sitemap_index.xml
  cmd/nabu/testdata/sitemap_index_selfie.xml
  internal/crawl/prov.go
  internal/crawl/prov_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_config.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/testdata/sitemap_index.xml
Due: typescript_gen_types, gofmt, golang lint

Add port info to Rust test failure
  internal/crawl/site_test.go
Due: typescript_gen_types, gofmt, golang lint

Add port info to Rust test failure (#340)
  internal/crawl/site_test.go
Due: typescript_gen_types, gofmt, golang lint

Tests passing locally
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/harvest_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/synchronizer/client_test.go
  internal/synchronizer/testdata/pids/BASMOUCO.jsonld
  internal/synchronizer/testdata/pids/CHEREDCO.jsonld
  internal/synchronizer/testdata/pids/ENTDITCO.jsonld
  internal/synchronizer/testdata/pids/FARMERCO.jsonld
  internal/synchronizer/testdata/pids/FLOBONCO.jsonld
  internal/synchronizer/testdata/pids/FLOCANCO.jsonld
  internal/synchronizer/testdata/pids/FLOFARCO.jsonld
  internal/synchronizer/testdata/pids/FREDITCO.jsonld
  internal/synchronizer/testdata/pids/GOVDRACO.jsonld
  internal/synchronizer/testdata/pids/HABREDCO.jsonld
  internal/synchronizer/testdata/pids/HAYDITCO.jsonld
  internal/synchronizer/testdata/pids/HAYREDCO.jsonld
  internal/synchronizer/testdata/pids/LAPBRECO.jsonld
  internal/synchronizer/testdata/pids/LAPCHECO.jsonld
  internal/synchronizer/testdata/pids/LAPHESCO.jsonld
  internal/synchronizer/testdata/pids/LAPLONCO.jsonld
  internal/synchronizer/testdata/pids/LAPMEXCO.jsonld
  internal/synchronizer/testdata/pids/LITCANCO.jsonld
  internal/synchronizer/testdata/pids/LONALOCO.jsonld
  internal/synchronizer/testdata/pids/LONBLOCO.jsonld
  internal/synchronizer/testdata/pids/LONREDCO.jsonld
  internal/synchronizer/testdata/pids/LPIRDICO.jsonld
  internal/synchronizer/testdata/pids/PINDITCO.jsonld
  internal/synchronizer/testdata/pids/PIODITCO.jsonld
  internal/synchronizer/testdata/pids/REVDITCO.jsonld
  internal/synchronizer/testdata/pids/SALTOXCO.jsonld
  internal/synchronizer/testdata/pids/TOWCANCO.jsonld
  internal/synchronizer/testdata/pids/TOWEASCO.jsonld
  internal/synchronizer/testdata/pids/TOWWESCO.jsonld
  internal/synchronizer/testdata/pids/VOSDITCO.jsonld
  internal/synchronizer/testdata/pids/cdss_sitemap.xml
  internal/synchronizer/testdata/pids/robots.txt
  internal/synchronizer/testdata/pids/sitemap_index.xml
Due: typescript_gen_types, gofmt, golang lint

capture more sitemap metadata
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/sitemap_test.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

Capture more sitemap metadata fields from the sitemap index (#341)
  crawl-status-page/src/generated_types.ts
  internal/crawl/sitemap.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/crawl/sitemap_test.go
  pkg/stats.go
Due: typescript_gen_types, gofmt, golang lint, ts build, ts lint

Add mainstems based on json metadata in sitemap
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Auto add mainstem info
  cmd/nabu/harvest.go
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/main.go
  internal/crawl/orgs.go
  internal/crawl/orgs_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Make shacl connection failures non fatal
  internal/crawl/site.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint
