Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, ts build, ts lint, rustfmt, cargo check, clippy

.pre-commit-config.yaml:

# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [typescript_gen_types, golang lint, gofmt, ts build, ts lint, rustfmt, clippy, cargo check]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args:
          ["-s=only", -l, "Apache-2.0", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: local
    hooks: 
      - id: typescript_gen_types
        name: Generate Typescript Types from go 
        entry: tygo generate 
        language: system
        types: [go]
        pass_filenames: false

      - id: gofmt
        name: Format go code
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false # go fmt handles files itself


      - id: golang lint
        name: Lint go code
        entry: make lint 
        language: system
        types: [go]
        pass_filenames: false # lint handles files itself

      - id: ts build
        name: Ensure no frontend build errors
        entry: bash -c "cd crawl-status-page && npm run build"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself


      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo fmt --all -- "
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt handles files itself

      - id: cargo check 
        name: cargo check
        # check everything compiles
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo check --examples --locked --all-features --tests --benches  --bins  --workspace"
        language: system
        types: [rust]
        pass_filenames: false  # cargo check handles files itself

      - id: clippy
        name: clippy
        # lint the entire project with warnings
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo clippy --benches --examples --tests --no-deps --no-default-features -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy handles files itself

Update Nabu docs info
  README.md
  docs/details.md
  docs/nabu_overview.md
Due: none

Update Nabu docs info (#283)
  README.md
  docs/details.md
  docs/nabu_overview.md
Due: none

check err
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint

Test to ensure no JSON-LD is removed from a failed sitemap (#285)
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint

More logging for USGS
  .gitignore
  examples/harvestThenReleaseAndPull.sh
  internal/common/http_client.go
  internal/crawl/helpers_test.go
  internal/crawl/site.go
  internal/crawl/testdata/usgs_monitoring_location_351715080252401.html
Due: typescript_gen_types, gofmt, golang lint

More logging for USGS (#286)
  .gitignore
  examples/harvestThenReleaseAndPull.sh
  internal/common/http_client.go
  internal/crawl/helpers_test.go
  internal/crawl/site.go
  internal/crawl/testdata/usgs_monitoring_location_351715080252401.html
Due: typescript_gen_types, gofmt, golang lint

Better accept header
  .vscode/launch.json
  examples/harvest-usgs-source.sh
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Better accept header (#287)
  .vscode/launch.json
  examples/harvest-usgs-source.sh
  internal/crawl/site.go
Due: typescript_gen_types, gofmt, golang lint

Fix hash check issue
  cmd/nabu/test.go
  internal/crawl/hash_checks/hash_check.go
  internal/crawl/site.go
  internal/crawl/storage/discard_storage.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/tempfs_storage.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Fix hash check issue (#288)
  cmd/nabu/test.go
  internal/crawl/hash_checks/hash_check.go
  internal/crawl/site.go
  internal/crawl/storage/discard_storage.go
  internal/crawl/storage/storage.go
  internal/crawl/storage/tempfs_storage.go
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Fix dockerfile entrypoint
  shacl_validator/Dockerfile_py
Due: none

Fix ttl path in Python
  shacl_validator/Dockerfile_py
  shacl_validator/makefile
Due: none

Fix python grpc dockerfile (#290)
  shacl_validator/Dockerfile_py
  shacl_validator/makefile
Due: none

Fix shacl path in Python
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
Due: none

Improve csv generation
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
Due: none

fix
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
Due: none

Fix shacl path and csv generation (#291)
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
Due: none

Fix CSV generation in container
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
Due: none

fix check command
  shacl_validator/shacl_validator_grpc_py/src/cli.py
Due: none

Fix CSV generation in container (#292)
  shacl_validator/shacl_validator_grpc_py/src/cli.py
  shacl_validator/shacl_validator_grpc_py/src/geoconnex_gen.py
  shacl_validator/shacl_validator_grpc_py/src/lib.py
Due: none

Better remote local file checks
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Better remote local file checks (#293)
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Fix remote logic
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Fix remote logic (#294)
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Better pull logging
  internal/synchronizer/s3/client.go
Due: typescript_gen_types, gofmt, golang lint

add another test and some other logging
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Better nabu logging (#296)
  internal/synchronizer/s3/client.go
  internal/synchronizer/s3/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add another WQP test case
  shacl_validator/testdata/valid/wqp_usgs-06296120.jsonld
Due: none

Add another WQP test case (#297)
  shacl_validator/testdata/valid/wqp_usgs-06296120.jsonld
Due: none

Add a test for geoparquet creation
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/test.rs
  triples_to_geoparquet/src/testdata/ref_gages_gages__0_release.nq
  triples_to_geoparquet/src/tests.rs
Due: rustfmt, cargo check, clippy

Handle https://github.com/RDFLib/pySHACL/issues/314
  shacl_validator/shacl_validator_grpc_py/src/server.py
Due: none

Handle https://github.com/RDFLib/pySHACL/issues/314 (#301)
  shacl_validator/shacl_validator_grpc_py/src/server.py
Due: none

Add otel tracing to release graphs generation
  cmd/nabu/main.go
  examples/harvestGagesThenReleaseAndPull.sh
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Add otel tracing to release graphs generation (#302)
  cmd/nabu/main.go
  examples/harvestGagesThenReleaseAndPull.sh
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Fix nquad channel closing operation
  .vscode/launch.json
  cmd/nabu/main.go
  internal/synchronizer/client_release_graphs.go
  makefile
Due: typescript_gen_types, gofmt, golang lint

Fix nquad channel closing operation (#303)
  .vscode/launch.json
  cmd/nabu/main.go
  internal/synchronizer/client_release_graphs.go
  makefile
Due: typescript_gen_types, gofmt, golang lint
