Repository internetofwater/nabu: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript_gen_types, gofmt, golang lint, ts build, ts lint, rustfmt, cargo check, clippy

.pre-commit-config.yaml:

# Copyright 2025 Lincoln Institute of Land Policy
# SPDX-License-Identifier: Apache-2.0

minimum_pre_commit_version: "2.9.0"
ci:
  autoupdate_schedule: monthly
  skip: [typescript_gen_types, golang lint, gofmt, ts build, ts lint, rustfmt, clippy, cargo check]
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: forbid-symlinks
        name: Forbid symlinks
        entry: Forbid symlinks
        language: fail
        types: [symlink]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: mixed-line-ending
  - repo: https://github.com/google/addlicense
    rev: "v1.2.0"
    hooks:
      - id: addlicense
        args:
          ["-s=only", -l, "Apache-2.0", -c, "Lincoln Institute of Land Policy"]
  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
      - id: terraform_validate
  - repo: local
    hooks: 
      - id: typescript_gen_types
        name: Generate Typescript Types from go 
        entry: tygo generate 
        language: system
        types: [go]
        pass_filenames: false

      - id: gofmt
        name: Format go code
        entry: go fmt ./...
        language: system
        types: [go]
        pass_filenames: false # go fmt handles files itself


      - id: golang lint
        name: Lint go code
        entry: make lint 
        language: system
        types: [go]
        pass_filenames: false # lint handles files itself

      - id: ts build
        name: Ensure no frontend build errors
        entry: bash -c "cd crawl-status-page && npm run build"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself


      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: ts lint
        name: Ensure no frontend lint errors
        entry: bash -c "cd crawl-status-page && npm run lint"
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false # build handles files itself

      - id: rustfmt
        name: rustfmt
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo fmt --all -- "
        language: system
        types: [rust]
        pass_filenames: false # cargo fmt handles files itself

      - id: cargo check 
        name: cargo check
        # check everything compiles
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo check --examples --locked --all-features --tests --benches  --bins  --workspace"
        language: system
        types: [rust]
        pass_filenames: false  # cargo check handles files itself

      - id: clippy
        name: clippy
        # lint the entire project with warnings
        entry: bash -c "cd shacl_validator/shacl_validator_grpc_rs && cargo clippy --benches --examples --tests --no-deps --no-default-features -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false # cargo clippy handles files itself

add to bulk info
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Make shacl connection failures non fatal (#343)
  internal/crawl/site.go
  internal/crawl/sitemap_bulk.go
  internal/crawl/sitemap_bulk_test.go
  internal/crawl/sitemap_test.go
Due: typescript_gen_types, gofmt, golang lint

Bump max line size for nq parsing
  go.mod
  go.sum
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

Bump max line length size (#344)
  go.mod
  go.sum
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

Auto mainstem info to sitemap based on json metadata config (#342)
  cmd/nabu/harvest.go
  cmd/nabu/harvest_integration_test.go
  cmd/nabu/main.go
  internal/crawl/orgs.go
  internal/crawl/orgs_test.go
  internal/crawl/sitemap.go
  internal/crawl/sitemap_index.go
  internal/crawl/sitemap_index_test.go
  internal/synchronizer/client_release_graphs.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Fix mainstem logic and clean up examples
  cmd/nabu/main.go
  examples/Docker-compose.yml
  examples/e2eAgainstLocalInfra.sh
  examples/exploreS3AfterHarvest.sh
  examples/harvest-usgs-source.sh
  examples/harvestGagesThenReleaseAndPull.sh
  examples/harvestProdSitemap.sh
  examples/harvestProdSitemapWithBulkSource.sh
  examples/harvestThenSync.sh
  examples/harvestWWDHThenReleaseAndPull.sh
  examples/profileSync.sh
Due: typescript_gen_types, gofmt, golang lint

bring back minio
  examples/Docker-compose.yml
Due: none

backup
  cmd/nabu/harvest.go
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Use remote sitemap index (#345)
  cmd/nabu/harvest.go
  cmd/nabu/main.go
  examples/Docker-compose.yml
  examples/e2eAgainstLocalInfra.sh
  examples/exploreS3AfterHarvest.sh
  examples/harvest-usgs-source.sh
  examples/harvestGagesThenReleaseAndPull.sh
  examples/harvestProdSitemap.sh
  examples/harvestProdSitemapWithBulkSource.sh
  examples/harvestThenSync.sh
  examples/harvestWWDHThenReleaseAndPull.sh
  examples/profileSync.sh
Due: typescript_gen_types, gofmt, golang lint

Improve log message for skip mainstem addition case
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Improve log for skip mainstem addition case (#346)
  internal/synchronizer/client_release_graphs.go
Due: typescript_gen_types, gofmt, golang lint

Make invalid geometry non fatal
  internal/crawl/sitemap_bulk.go
  internal/mainstems/flatgeobuf.go
  internal/mainstems/flatgeobuf_test.go
  internal/mainstems/service.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

make invalid geometry non fatal for adding mainstems (#347)
  internal/crawl/sitemap_bulk.go
  internal/mainstems/flatgeobuf.go
  internal/mainstems/flatgeobuf_test.go
  internal/mainstems/service.go
  internal/synchronizer/client_test.go
Due: typescript_gen_types, gofmt, golang lint

Make nquad parsing unbounded
  go.mod
  go.sum
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

Make nquad parsing unbounded (#348)
  go.mod
  go.sum
  internal/common/rdfConversions.go
Due: typescript_gen_types, gofmt, golang lint

Remove schema:geo as a requirement from the Geoconnex SHACL shape
  shacl_validator/shapes/geoconnex.ttl
Due: none

Remove schema:geo from the geoconnex shacl shape (#349)
  shacl_validator/shapes/geoconnex.ttl
Due: none

add local shacl validation cli
  cmd/nabu/main.go
  cmd/nabu/shacl_validate.go
  go.mod
  go.sum
  shacl_validator/shacl_validator_go/shacl.go
  shacl_validator/shacl_validator_go/shacl_test.go
  shacl_validator/shacl_validator_go/wasm/main.go
  shacl_validator/shapes/shapes.go
  shacl_validator/testdata/edge_cases/type_with_space.jsonld
  shacl_validator/testdata/valid/wqp_usgs-06296120.jsonld
Due: typescript_gen_types, gofmt, golang lint

Add local shacl validation cli (#350)
  cmd/nabu/main.go
  cmd/nabu/shacl_validate.go
  go.mod
  go.sum
  shacl_validator/shacl_validator_go/shacl.go
  shacl_validator/shacl_validator_go/shacl_test.go
  shacl_validator/shacl_validator_go/wasm/main.go
  shacl_validator/shapes/shapes.go
  shacl_validator/testdata/edge_cases/type_with_space.jsonld
  shacl_validator/testdata/valid/wqp_usgs-06296120.jsonld
Due: typescript_gen_types, gofmt, golang lint

Fix shacl result response
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Fix shacl response (#351)
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Make jsonld shacl validation unbounded
  cmd/nabu/main.go
  go.mod
  go.sum
  shacl_validator/shacl_validator_go/shacl.go
Due: typescript_gen_types, gofmt, golang lint

Make jsonld shacl unbounded (#352)
  cmd/nabu/main.go
  go.mod
  go.sum
  shacl_validator/shacl_validator_go/shacl.go
Due: typescript_gen_types, gofmt, golang lint

Allow reading shacl content from stdin
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Allow reading shacl content from stdin (#353)
  cmd/nabu/main.go
Due: typescript_gen_types, gofmt, golang lint

Reduce default triples to geoparquet worker size
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

get rid of amd64 rust build
  .github/workflows/push_to_dockerhub.yml
Due: none

Reduce default workers for triples to geoparquet (#354)
  .github/workflows/push_to_dockerhub.yml
  triples_to_geoparquet/src/main.rs
Due: rustfmt, cargo check, clippy

Dont set catchments file for shacl service
  terraform/main.tf
Due: none

Dont set catchments file for shacl service (#356)
  terraform/main.tf
Due: none

Switch from scanner to reader
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

fix test and linting
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Switch from scanner to reader (#357)
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Fix error log upon exiting the store bulk ffunctiion with an error
  internal/crawl/sitemap_bulk.go
Due: typescript_gen_types, gofmt, golang lint

Add unlimited buffer size to rust nquad parser.
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Add unlimited buffer size to rust nquad parser. (#358)
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Try increasing geometry type offset
  triples_to_geoparquet/.gitignore
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy

Try increasing max geometry size (#359)
  triples_to_geoparquet/.gitignore
  triples_to_geoparquet/Cargo.lock
  triples_to_geoparquet/Cargo.toml
  triples_to_geoparquet/src/main.rs
  triples_to_geoparquet/src/parquet_lib.rs
  triples_to_geoparquet/src/triples_lib.rs
Due: rustfmt, cargo check, clippy
